__pycache__/
*.py[cod]
*.ipynb
app/static/images/
app/static/images_with_boxes/
app/static/images_uploaded/
app/static/images_predicted/
app/models/deploy.prototxt.txt
app/models/mobilenet_iter_73000.caffemodel
lab1/